<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <title>Travel Guide</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='i.style.css') }}"">
  </head>

<!-- Background image -->
<div
class="text-center"
style="background-image: url('static/Logo.png');
padding-top: 450px ;">
<div class="background">
<div class="d-flex justify-content-center align-items-center h-50">
<div class="text">
<h1 class="header"><b>Interactive Travel Guide</b></h1>
<h4 class="subheader"><i>Navigate your adventures with us!</i></h4>
         
<b>Enter your Destination</b>
      <div class="search bar">
          <form action="{{ url_for('City') }}">
              <input type="text"
                  placeholder=" Search by City, State"
                  name="">
              <button>
                  <i> Enter
                  </i>
              </button>
              <br> <br> 

<!-- Navigation Bar -->

<style>
  a:link, a:visited {
    background-color: #c5b9b8;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color:rgba(180, 244, 248, 0.705);
  }
  </style> 

    <div id="Navigation">
        <a href="{{ url_for('City') }}">City Explorer</a> <br><br>
        <a href="{{ url_for('Membership') }}">Membership</a> <br><br>
        <a href="{{ url_for('Contact') }}">Contact</a> <br><br>
        <a href="{{ url_for('Map') }}">Map</a> <br>
            
        <br> <br> 

          
  <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
</body>

</html>
